@import 'colors';

footer{
    width: 85%;
    margin: 0 auto;
    background-image: url('../images/bg/Landing_BadBeat.png');
    background-repeat: no-repeat;
    height: 284px;
    max-height: 284px;
    background-size:auto 100%;
    background-position: top center;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    .last_part{
        height: 284px;
        max-height: 284px;
        align-items: center;
        padding-left: 30px;
        div:first-child{
            margin-right: 20px;
        }
        p{
            color: white;
            margin-bottom: 5px;
            font-size: 12px;
            a{
                color: white;
            }
            a:hover{
                color: color(hover);
            }
        }
        button{
            width: 100px;
            height: 35px;
            border: 1px solid grey;
            color: white;
            border-radius: 4px;
        }
        .play{
            background-color: #199625;
            margin-bottom: 10px;
        }
        .demo{
            background-color: #3A3A3A;
        }
    }
}