@import 'colors';

@media(min-width:992px) and (max-width:1281px){
    #rating .rating_table .rating_tbl p{
        font-size: 8px;
    }
    .main #main_menu{
        padding-left: 7%;
    }
}
@media(max-width:991px){
    .navbar-light .navbar-toggler{
        border-color: white;
    }
    .navbar-nav{
        align-items: center;
    }
    .main #navbarSupportedContent ul li p{
        right: -14px;
    }
    .main #main_menu{
        padding-left: 0;
    }
    nav{
        width: 85%;
        margin: 0 auto;
    }
}
@media(max-width:640px){
    #rating .rating_table{
        flex-direction: column;
        .rating_tbl{
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
   
}
@media(max-width:480px){
    #rating .carousel-inner .carousel-item{
        background-size: auto 100%;     
    }
    #rating .rating_table .rating_tbl p{
        font-size: 10px;
    }
    footer {
        .last_part{
            padding-left: 0;
        }
    }
}