body{
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 100;
}
.wrapper{
    width: 100%;
    background-image: url("../img/bg_1.jpg");
    height: 90vh;
    background-size: 100% 100%;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 0 10em;
    margin-bottom: 5%;
    position: relative;
}
nav{
    width: 100%;
    padding-left: 0!important;
    padding-right: 0!important;
}
.navbar-nav li{
    margin-left: 25px;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: rgb(166, 212, 52);
}
.menu_part{
    margin-bottom: 8.5em;
}
.project_smart_slim{
    padding-left: calc
}
#navbarNav{
    justify-content: flex-end;
}
.project_smart_slim h1{
    color: white;
    font-family: 'Source Sans Pro',sans-serif;
}
.project_smart_slim h1 span{
    font-family: 'Kaushan Script', cursive;
    color: #99cc05;
}
.smart_tools_1{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 41px;
}
.smart_tools_2 {
    display: flex;
    justify-content: center;
    margin-bottom: 41px;
}
.smart_tools_3{
    display: flex;
    justify-content: flex-start;
}
 .media{
    background-color: #fff;
    border-radius: 57px;
    padding: 10px 20px;
}
.smart_tools_1 .media h5 span{
    color: #55bff1;
}
.smart_tools_2 .media h5 span{
    color: #f89831;
}
.media-body{
    font-size: 14px;
}
.media-body h5{
    font-size: 16px;
}
.btn_course{
    padding: 0 5px;
    border-radius: 50px;
    outline: none;
    height: 42px;
    color: white;
    border: none;
    font-size: 16px;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 200;
    width: 13em;
    margin-top: 42px;
    background-color: transparent;
    border: 1px solid white;
}
.btn_course_start{
    margin-right: 12px;
}
/* .personal{
    position: absolute;
    bottom: 10%;
} */
.personal_cnsult_header{
    position: absolute;
    bottom: 10%;
    left: 4em;
}
.btn_cours_personal{
    background-repeat: no-repeat;
    background-color: #e7b503;
    border: none;
}
.btn_course_telegram{
    background-image: url("../img/icons/Telega.png");
    margin-right: 12px;
    background-position: 3.6em center;
    padding-left: 2em;
}
.btn_course_viber{
    background-image: url("../img/icons/viber.png");
    background-position: 4.6em center;
    padding-left: 3em;
}
.autor{
    margin-top: 5%;
}
.autor iframe{
    width:-webkit-fill-available;
}
.autor_project{
    background-image: url("../img/icons/lines.png");
    background-repeat: no-repeat;
    height: 7em;
    background-position: center 10%;
}
.autor_project_cand{
    background-size: 75%;
}
.autor_project_why{
    background-size: 93%;
    margin-top: 80px;
}
.autor_project h2{
    font-size: 32px;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 600;
    text-align: center;
}
.autor_project_why_res{
    background-size: 88%;
}
.autor_project p{
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}
.hi_friend h3{
    font-size: 24px;
    color: #99cc05;
    margin-bottom: 20px;
}
.hi_friend p{
    font-size: 18px;
}
.autor_project h2 span{
    font-family: 'Kaushan Script', cursive;
}
.why_we{
    justify-content: space-between;
    align-items: center;
    background-color: #e8e8e8;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.2);
    height: 100px;
    width:86%;
    opacity: 0.6;
}
.why_we div{
    background-color: rgb(153, 204, 5);
    width: 20%;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.odd{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.even{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.why_we p{
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0!important;
    margin: 0 auto;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 600;
    width: 80%;
    align-self: center;
}
.why_we:hover{
    background-color: white;
    opacity: 1;
    cursor: pointer;
}
.mb-20{
    margin-bottom: 25px;
}
.problems{
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 400;
    margin-top: 53px;
    text-align: center;
}
.problems h3{
    font-size: 24px;
    margin-bottom: 27px;
    font-weight: 600;
} 
.problems p{
    font-size: 16px;
} 
footer{
    width: 100%;
    background-image: url("../img/bg_footer.png");
    height: auto;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 70px 10em 0 10em;
    margin-top: 80px;
}
.start_course h1{
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 70px;
}
.start_course{
    background-image: url("../img/icons/line_white.png");
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
}
.what_know{
    color: white;
    font-family: 'Source Sans Pro',sans-serif;
}
.what_know h2{
    font-size: 24px;
}
.what_know p{
    font-size:  20px;
}
.what_know .personal_cnsult .btn_course{
    margin-top: 28px;
}
form{
    background-color: #fff;
    border-radius: 10px;
    flex-direction: column;
    padding: 32px 38px;
    text-align: center;
}
form h3{
    font-size: 24px;
    font-weight: 600;
}
form img{
    width: 60%;
    margin: 21px auto 40px auto;
}
form input{
    border: 1px solid gray;
    border-radius: 20px;
    margin-bottom: 26px;
    outline: none;
    height: 48px;
    padding-left: 20px;
}
form input::-webkit-input-placeholder{
    font-family: 'Source Sans Pro',sans-serif;
    font-style: italic;
}
form p{
    font-size: 12px;
    margin:6px 0 33px 0;
}
form button{
    background-color: rgb(153, 204, 5);
    border-radius: 20px;
    text-align: center;
    outline: none;
    border: none;
    width: 240px;
    height: 45px;
    color: white;
    font-size: 18px;
    align-self: center;
}
form h6{
    font-size: 12px;
    color: tomato;
}
.your_way{
    background-size: 90%;
    margin-top: 80px;
}

.root{
    background-image: url("../img/row.png");
    background-repeat: no-repeat;
    height: 325px;
    background-size: 85% auto;
    background-position: center;
}
#fruits{
    width: 100%;
    background-image: url("../img/fruits.png");
    background-size: 100%;
    height: auto;
    margin-top: 80px;
}
.mobile_img{
    padding-top: 10px;
    text-align: center;
}
.support{
    color: white;
}
.support h2{
    font-size: 24px;
}
.support .btn_course{
    margin-top: 15px;
}
#videoModal video {
    width: 100%;
}
.results-play-video {
    width: 15%;
    height: 15%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.results-top {
    background-image: url(../img/icons/video_layer2.png);
    background-repeat: no-repeat;
    height: 100%;
    top: 5px;
    left: 40px;
    width: 100%;
    position: absolute;
    background-position: center;
}
.results{
    background-image: url("../img/icons/video_layer.png");
    background-repeat: no-repeat;
    height: 350px;
    background-size: 54%;
    position: relative;
    background-position: center;
}
.results div{
    position: absolute;
    top: 20px;
    left:20%;
}
.avatar div{
    flex: 1 0 auto;
    align-self: center;
}
.avatar div  p{
    margin-bottom: 0;
}
.avatar div span{
    align-self: center;
    display: inline-block;
    margin: 0 auto;
}
.avatar div:first-child span{
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 600;
    width: 36%;
}
.avatar div:nth-child(2) p span{
    color: rgb(153, 204, 5);
    font-weight: 600;
}
.avatar_quot{
    font-style: italic;
    font-weight: 600;
}
.arrow_page{
    align-items: center;
}
.arrow_page p{
    margin-bottom: 0;
    background-color: rgb(191, 190, 194);
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.arrow_page p i{
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}
.arrow_page span{
    width: 60px;
    display: inline-block;
    text-align: center;
}
.terms{
    color: white;
    text-align: center;
    margin: 97px 0;
    font-size: 14px;
}
.navbar-light .navbar-toggler{
    background-color:rgb(153, 204, 5);
}
@media(max-width:1803px) and (min-width:1451px){
    .project_smart_slim h1{
        width: 91%;
    }
}
@media(max-width:1451px) and (min-width: 375px){
    .menu_part{
        margin-bottom: 1.5em;
    }
    .btn_cours_personal{
        margin-top: 10px;
    }
    .wrapper{
        padding: 0 4em;
    }
    footer{
        padding: 70px 3em 0 3em;
    }

}
@media(max-width:1241px) and (min-width: 768px){
    .navbar-nav li{
        margin-left: 20px;
    }
    h1{
        font-size: 2.2em;
    }
    .wrapper{
        min-height: 782px;
    }
}
@media(max-width:1000px) and (min-width:992px){
    .btn_course{
        width: 16em;
        font-size: 12px;
    }
    .btn_course_telegram{
        background-position: 3.em center;
        padding-left: 1em;
    }
    .btn_course_viber{
        background-position: 4.5em center;
        padding-left: 2.5em;
    }
}
@media(max-width:1199px) and (min-width: 992px){
    .navbar-nav li{
        margin-left: 10px;
    }
    .navbar-light .navbar-nav .nav-link{
        font-size: 12px;
    }
    .menu_part {
        margin-bottom: 2.5em;
    }
    h1{
        font-size: 2em;
        width: 91%;
        margin: 0 auto;
    }
    /* .btn_course{
        width: 11em;
    } */
    .personal_cnsult_header{
        bottom: 8%;
        left: 6%;
    }
    .wrapper{
        min-height: 782px;
    }
    .autor_project_cand {
        background-size: 89%;
    }
    .autor_project h2{
        width: 72%;
        margin: 0 auto;
    }
    .autor_project_why{
        background-size: 83%;
    }
    .your_way{
        background-size: 95%;
    }
    .autor_project_why_res{
        background-size: 91%;
    }
    .start_course{
        background-size: 89%;
    }
    
}
/* @media(max-width:1000px) and (min-width:992px){
    .btn_course{
        width: 16em;
        font-size: 12px;
    }
    .btn_course_viber{
        background-size: 4.6em center;
    }
    .btn_course_telegram{
        background-size: 3em center;
    }
} */
@media(max-width:991px) and (min-width: 768px){
    .menu_part {
        margin-bottom: 0;
    }
    .wrapper{
        min-height: 782px;
    }
    h1, .start_course h1{
        font-size: 2em;
    }
    .autor_project h2, .support h2{
        font-size: 1.5em;
    }
    .autor_project_cand {
        background-size: 100%;
    }
    
    .smart_tools_1, .smart_tools_2{
        margin-bottom: 15px;
    }
    .media img{
        width: 10%;
    }
    .media-body h5{
        font-size: 14px;
    }
    .media-body{
        font-size: 12px;
    }
    .btn_course{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .for_mobile{
        display: none;
    }
    .personal_cnsult_header {
        display: flex;
        bottom: -2%;
        left: 8%;
        flex-direction: column;
        font-size: 12px;
    }
    .why_we{
        margin: 0 auto;
        width: 100%;
        font-size: 13px;
    }
    .why_we img{
        width: 40px;
    }
    .autor_project.autor_project_why h2, .autor_project.your_way h2{
        width: 80%;
        margin: 0 auto;
    }
    .your_way{
        background-size: 100%;
    }
    .autor_project_why{
        margin-bottom: 30px;
        background-size: 100%;
    }
    .results iframe{
        width: 200px!important;
        height:  200px!important;
    }
    .results div{
        top: 22%;
        left: 32%;
    }
    .results-top{
        background-size: 100%;
        left: 0;
    }
    .results{
        background-size: 91%;
    }
    footer .collapse:not(.show){
        display: block;
    }
    .navbar-nav li{
        margin-left: 12px;
    }
    .navbar-nav{
        flex-direction: row;
    }
    .footer_logo{
        margin: 0 auto;
    }
    #fruits{
        margin-top: 0;
    }
    .start_course{
        background-size: 100%;
    }
}
@media(max-width:767px) and (min-width: 561px){
    .wrapper{
        padding: 0 1em;
    }
    .navbar-nav li{
        margin-left: 0;
    }
    .navbar-nav{
        text-align: center;
        background-color: rgba(153, 204, 5, 0.5);
    }
    .navbar-brand.logo{
        width: 60%;
    }
    h1, .start_course h1{
        font-size: 1.5em;
    }
    .autor_project h2{
        width: 78%;
        margin: 10px auto 0;
        font-size: 1.4em;
    }
    .autor_project{
        background-size: 90%;
    }
    .autor_project_why{
        background-size: 100%;
    }
    .your_way{
        background-size: 82%;
        margin-top: 40px;
    }
    .autor_project_cand{
        background-size: 78%;
    }
    /* .autor_project h2, .support h2{
        
    } */
    .menu_part{
        margin-bottom: 0.5em;
    }
    .btn_course{
        margin-top: 14px;
        font-size: 14px;
        width: 14em;
    }
    .smart_tools_1, .smart_tools_2{
        margin-bottom: 15px;
        margin-top: 10px;
    }
    .media img{
        width: 10%;
    }
    .media-body h5{
        font-size: 12px;
    }
    .media-body{
        font-size: 12px;
    }
    .media{
        display: flex;
        align-items: center;
        font-size: 10px;
        padding: 4px 10px;
    }
    .personal_cnsult_header {
        display: flex;
        bottom: -2%;
        left: 8%;
        flex-direction: column;
        font-size: 12px;
    }
    .personal_cnsult_header p{
        width: 70%;
        text-align: justify;
    }
    .why_we p, .problems p, .support{
        font-size: 0.8em;
    }
    .why_we{
        width: 100%;
        margin-bottom: 15px;
    }
    .why_we div {
        width: 38%;
    }
    .autor_project p{
        font-size: 14px;
    }
    .root{
        height: 200px;
        background-size: 97% auto;
    }
    #fruits{
        margin-top: 40px;
    }
    .footer_btn{
        display: none;
    }
    .support{
        text-align: center;
    }
    .support h2{
        font-size: 1.4em;
    }
    .personal_cnsult{
        padding-bottom: 20px;
    }
    footer .collapse:not(.show) {
        display: block;
    }
    footer {
        padding: 70px 1em 0 1em;
    }
    footer .collapse:not(.show) .navbar-nav{
        background-color:transparent;
    }
    .what_know{
        text-align: center;
    }
    .results-top{
        background-size: 79%;
        width: 78%;
    }
}
@media(max-width:560px) and (min-width: 375px){
    .navbar-toggler{
        font-size: 1rem;
    }
    .wrapper{
        padding: 0 1em;
    }
    .navbar-nav li{
        margin-left: 0;
    }
    .navbar-nav{
        text-align: center;
        background-color: rgba(153, 204, 5, 0.5);
    }
    .navbar-brand.logo{
        width: 50%;
    }
    h1, .start_course h1{
        font-size: 1.4em;
        text-align: center;
    }
    .autor_project h2{
        width: 78%;
        margin: 10px auto 0;
        font-size: 1.3em;
    }
    .autor_project{
        background-size: 90%;
    }
    .autor_project_why{
        background-size: 100%;
        margin-top: 40px;
    }
    .your_way{
        background-size: 100%;
        margin-top: 40px;
    }
    .autor_project_cand{
        background-size: 78%;
    }
    /* .autor_project h2, .support h2{
        
    } */
    .menu_part{
        margin-bottom: 0.5em;
    }
    .btn_course{
        margin-top: 14px;
        font-size: 14px;
        width: 9em;
    }
    .smart_tools_1, .smart_tools_2{
        margin-bottom: 15px;
        margin-top: 10px;
    }
    .media img{
        width: 10%;
    }
    .media-body h5{
        font-size: 12px;
    }
    .media-body{
        font-size: 12px;
    }
    .media{
        display: flex;
        align-items: center;
        font-size: 10px;
        padding: 4px 10px;
    }
    .personal_cnsult_header {
        display: flex;
        bottom: -2%;
        left: 8%;
        flex-direction: column;
        font-size: 12px;
    }
    .personal_cnsult_header p{
        width: 47%;
        text-align: justify;
    }
    .btn_course_telegram{
        background-position: 20px;
    }
    .btn_course_viber{
        background-position: 30px;
    }
    .why_we p, .problems p, .support, .what_know p, p, .hi_friend p{
        font-size: 0.8em;
    }
    .why_we{
        width: 100%;
        margin-bottom: 15px;
    }
    .why_we div {
        width: 38%;
    }
    .autor_project p{
        font-size: 14px;
    }
    .autor_project{
        height: 9em;
    }
    .root{
        height: 120px;
        background-size: 100% auto;
    }
    #fruits{
        margin-top: 40px;
    }
    .footer_btn{
        display: none;
    }
    .support{
        text-align: center;
    }
    .support h2{
        font-size: 1.4em;
    }
    .personal_cnsult{
        padding-bottom: 20px;
    }
    footer .collapse:not(.show) {
        display: block;
    }
    footer {
        padding: 40px 1em 0 1em;
    }
    footer .collapse:not(.show) .navbar-nav{
        background-color:transparent;
    }
    .what_know{
        text-align: center;
    }
    .mobile_img img{
        width: 30%;
    }
    .results div iframe{
        width:300px!important; 
    }
    .results div{
        left: 6%;
    }
    .terms{
        margin: 20px 0;
    }
    .start_course h1{
        margin-bottom: 40px;
        width: 70%;
        margin: 0 auto;
    }
    footer .navbar-brand.logo {
        margin: 0 auto;
    } 
    .what_know h2{
        font-size: 1.3em;
    }
    .buttons, .hi_friend{
        text-align: center;
    }
    .results-top{
        background-size: 79%;
        width: 78%;
    }
}





  



















  

  

  
