@font-face{
    font-family: 'font-awesome';
    src: url('../font-awesome/fonts/fontawesome-webfont.eot');
}
@font-face{
    font-family: 'font-awesome';
    src: url('../font-awesome/fonts/fontawesome-webfont.ttf');
}
@font-face{
    font-family: 'font-awesome';
    src: url('../font-awesome/fonts/fontawesome-webfont.woff');
}
@font-face{
    font-family: 'font-awesome';
    src: url('../font-awesome/fonts/fontawesome-webfont.woff2');
}
@font-face{
    font-family: 'font-awesome';
    src: url('../font-awesome/fonts/FontAwesome.otf');
}
